<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link rel="stylesheet" href="/stylesheets/toastr.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body ng-app="myApp">

    <navbar></navbar>
    <div ui-view></div>

  </body>
  
  <script type="text/javascript" src="/javascripts/lib/angular.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/angular-animate.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/angular-messages.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/angular-ui-router.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/toastr.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/materialize.js" defer></script>
  <script type="text/javascript" src="/javascripts/client.js" defer></script>
  <script type="text/javascript" src="/javascripts/navbar.js" defer></script>
  <script type="text/javascript" src="/javascripts/lib/parallax.js" defer></script>
  <script type="text/javascript" src="/javascripts/footer.js" defer></script>
  <script type="text/javascript" src="/javascripts/home.js" defer></script>
  <script type="text/javascript" src="/javascripts/about.js" defer></script>
  <script type="text/javascript" src="/javascripts/auth.js" defer></script>
  <script type="text/javascript" src="/javascripts/login.js" defer></script>
  <script type="text/javascript" src="/javascripts/signup.js" defer></script>
  <script type="text/javascript" src="/javascripts/goals/goal-service.js" defer></script>
  <script type="text/javascript" src="/javascripts/goals/goals.js" defer></script>
  <script type="text/javascript" src="/javascripts/goals/goal-show.js" defer></script>
  <script type="text/javascript" src="/javascripts/goals/goal-new.js" defer></script>
  <script type="text/javascript" src="/javascripts/goals/goal-edit.js" defer></script>

</html>
