body {
  background: #485563;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Re-styling Materialize */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: white;
}
nav {
  background-color: transparent;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: none;
}

.navbar-text {
  margin-top: 0px;
}

nav .brand-logo {
  margin-left: 45px;
}

.btn {
  background-color: #ef5350;
}

.btn:hover, .btn-large:hover {
  background-color: #ef5350;
}

.card {
  margin: 15px;
  background-color: grey;
}

.form-control {
  color: white;
}
/* End Materialize overrides*/

.no-bullets {
  list-style: none;
}

.todos {
  margin-top: 5px;
}
