.datespan {
  font-size: 1.5rem;
}
.completedgoal {
  font-size: 1.5rem;
}

.glyphicon {
  font-size: 2.5rem;
}

#pullup {
  max-height: 900px;
  max-width:  900px;
  height: auto;
  width: auto;
}

.nav-wrapper {
  max-width: 90%;
  width: auto;
}

.hcard {
  display: inline;
}

/*.cardbox {
  display: flex;
  align-items: center;
}*/

/*.section, .grey {
  width: 100%;
}
.row, .container {
  width: 80%;
}*/

.toast {
    background-color: #51a351;
    border-radius: 6px;
    width: 125px;
}

.toast-top-right {
    margin-top: 45px;
    border-radius: 3px;
}

.profile {
  max-width: 30%;
}

.about {
  color: white;
}

.tech {
  margin-bottom: 15px;
}

body {
  background: #485563;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px;
}

/* Re-styling Materialize */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: white;
}

nav .brand-logo {
    position: static;
}

nav {
  background-color: transparent;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: none;
}

.navbar-text {
  margin-top: 0px;
}

nav .brand-logo {
  margin-left: 45px;
}

a:hover {
  color: white;
  text-decoration: none;
}

.btn {
  background-color: grey;
}

/*.btn:hover, .btn-lg:hover {
  background-color: #ef5350;
}*/
.card-title {
  font-size: 2rem;
}
.card {
  margin: 15px;
  background-color: grey;
  border: solid 3px;
  border-style: groove;
  /*height: auto;
  width: auto;*/
}

.form-control {
  color: white;
}
/* End Materialize overrides*/

.no-bullets {
  list-style: none;
}

#cardcolumns {
  margin: none;
}

.row .col.l4 {
  margin: none;
}

.todos {
  margin-top: 5px;
}

.fitness-type {
  color: black;
}

.edit-container {
  max-width: 500px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: none;
}

@media only screen and (min-width: 993px) {
  .row .col.l4 {
    left: auto;
    right: auto;
  }
}
